.input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
    font-size: calc(1.2vw + 0.5rem);
}
.input:focus {
    outline: none;
}
@media screen and (max-width: 650px) {
    .input  {
        font-size: calc(1vw + 0.7rem);
    }
}