
.home-back , .zone-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.home-back > * {
    margin: auto 1rem;
}
.zone-two {
    max-width: 500px;
}

.zone-one > * {
    margin: auto 1.5rem;
}
.zone-one , .zone-two {
    padding: 1rem;
} 
.photo > img {
    width: 300px;
    height: 300px;
    
    border-radius: 50%;
    margin-top: 1rem;
}

.icons {
    display: flex;
    flex-direction: column;
}
.icons > i {
    margin: 1vw auto;
}
.uil {
    font-size: 48px;
}
.intro {
    display: flex;
    flex-direction: column;
}
.intro > span {
    margin: 4px;
} 
.quotes {
    font-size: 1.5rem;
}
.quotes > p {
    margin: 0;
}
.zone-two >  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--themecolour);
    width: auto;
}
.zone-two >  .button-container > span {
    background-color: white;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--themecolour);
    font-size: var(--introtext);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: 0.5rem;
}
.zone-two > .button-container > span > a {
    text-decoration: none;
    color: var(--themecolour);
    margin-right: 0.5rem;
}
.profile-link {
    background-color: white;
    color: var(--themecolour);
}

.zone-one > .text {
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .photo > img {
        width: var(--img1100);
        height: var(--img1100);
    }
    .home-back > * {
        margin: auto var(--margin05rem);
    }
    .zone-one > * {
        margin: auto var(--margin05rem);
    }
    .heading {
        font-size: var(--introname);
    }
    .quotes {
        font-size: 1.2rem;
    }
    .heading {
        font-size: 3rem;
    }
    .text {
        font-size: var(--introtext);
    }
}
@media screen and (max-width: 800px) {
    .heading {
        font-size: calc(2vw + 1.5rem);
        font-weight: bold;
    }
    .quotes {
        font-size: 1rem;
    }
    .text {
        font-size: var(--size105rem);
    }
    .zone-one > * {
        margin: auto 0.5vw;
    }
    .home-back > * {
        margin: auto 0;
    }
    .photo > img {
        width: calc(120px + 18vw);
        height: calc(120px + 18vw);
    }
    .uil {
        font-size: calc(1.7rem + 1.5vw);
    }
}
@media screen and (max-width: 800px) {
    .home-back {
        flex-direction: column;
        justify-content: center;
    }
    .zone-one {
        padding: 4px;
        margin: 4px 0;
    }
    .zone-one > .icons , .zone-one > .photo {
        margin: auto 1rem;
    }
    .zone-two {
        margin: 4px 0;
    }
    .text {
        font-size: 1.2rem;
    }
}












