.skill-rate-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: auto 2rem;
}
 
.skill-rate-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.skill-bar {
    background-color: rgba(0,0,0,0.2);
    border-radius: 1rem;
    margin-top: 1rem;
}
.skill-bar > .fill {
    font-size: 0.5rem;
    border-radius: 1rem;
    background-color: var(--themecolour) ;
}
