.nav-menu-back {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255,255,255,0.85);
    border: 2px solid black;
}
.nav-menu-back > .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}


